source/input/satdata/*_d.in
source/input/satdata/test.in

source/nseos/build/*

source/apps/nseos/*.out
source/apps/nseos/*.pdf
source/apps/nseos/*.plt
source/apps/nseos/*.sh
source/apps/nseos/nseos

source/apps/ocrust_crystallization/*.out
source/apps/ocrust_crystallization/*.pdf
source/apps/ocrust_crystallization/*.plt
source/apps/ocrust_crystallization/*.sh
source/apps/ocrust_crystallization/ocrust_crystallization

source/apps/testing/*
