source/input/satdata/*_d.in
source/input/satdata/test.in
source/input/satdata/ref.in

source/nseos/build/*

source/apps/nseos/*.out

source/apps/nseos/nseos

source/apps/nseos/satMassProperties.py

source/apps/bayesian_analysis/*

source/apps/draft_PRL/*

source/apps/draft_CC/*

source/apps/testing/*
